:root {
    --main-color: #7d00eb;
    --black: #000000;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    overflow-x: hidden !important;
    outline: none !important;
    border: none !important;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--white);
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.box-3 {
    overflow: hidden;
}

.header {
    position: absolute;
    top: -100%;
    width: 100%;
    margin-top: 2em;
}


.navbar-brand {
    /* font-family: 'Montserrat', sans-serif;*/
    background-color: var(--main-color);
    user-select: none;
    padding: .4em 1.12em .4em 1.12em;
    color: var(--white);
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.navbar-brand:hover {
    color: var(--white) !important;
}

.navbar-nav .nav-item a {
    margin: 0 1.5em !important;
    font-size: 1rem !important;
    color: var(--black) !important;
    font-size: 600 !important;
    font-weight: 600;
}

.navbar-nav .nav-item a:hover {
    border-bottom: 1px solid var(--main-color) !important;
    padding-bottom: .5rem;
    color: var(--main-color) !important;
    letter-spacing: 0.02em;
}

.join {
    background: var(--main-color);
    padding: .8em 2.5em .8em 2.5em;
}

.join a {
    color: var(--white);
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.join a:hover {
    letter-spacing: 0.02em;
    padding-bottom: .5rem !important;
}

.heading-section {
    padding-top: 9em;
}

.heading-section h1 {
    color: #070707;
    font-size: 4rem;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -3px;
}

.heading-section p {
    font-size: .9rem;
    color: var(--black);
    line-height: 30px;
    font-weight: 400;
}

.cta-btn {
    background-color: var(--main-color) !important;
    color: var(--white);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 1em 2em 1em 2em;
}

.cta-btn:hover {
    letter-spacing: 0.02em;
}

.box-2,
.box-1 {
    width: auto;
    height: auto;
    position: absolute;
    overflow: hidden;
}

.text,
.footer {
    position: relative;
    left: -100%;
}

footer {
    margin-top: 28em;
}

footer p,
footer a {
    color: var(--black);
    opacity: 0.7;
    line-height: 20px !important;
    font-weight: 400;
    font-size: 1rem;
    margin: 1em;
}

footer a:hover {
    color: var(--main-color);
    font-weight: 500;
}

@keyframes anim3 {
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}

@media (max-width:992px) {
    .heading {
        margin-top: 4em;
        text-align: center;
    }
    .img {
        display: block;
        width: 100% !important;
        margin: 0 auto;
        padding-top: 3em;
    }
    footer {
        margin-top: 60em;
        margin-bottom: 100em;
    }
}